@charset "utf-8";
@import "normalize";
@import "b";
/*importing another file-sass training*/
$comment: "-sass training";
$pcolor: 'white';
body {
    background: #ECC561;
    text-align: center;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.logo {
    img {
        height: 18.75em;
        margin-top: 6em;
    }
}

h1 {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8em*2;
    /*operators used-$comment*/
    font-weight: 200*2;
    margin: 0;
}

.doc {
    margin: 3em 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    /*nesting-$comment*/
    a {
        border: 1px solid $pcolor;
        border-radius: 3px;
        padding: 0.75em 0.7em;
        color: $pcolor;
        text-decoration: none;
        transition: color 0.1s linear;
        /*referencing parent selectors-$comment*/
        &:hover {
            background: rgba(0, 0, 0, 0.2);
            color: $pcolor;
            transition: all 0.15s linear;
        }
    }
}
.funky {
    @extend .doc; /*Extend/Inheritance*/
  font: {   /*Nested Properties*/
    family: fantasy;
    size: 1.6em;
    weight: bold;
  }
}
.welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    82.5% {
        -webkit-transform: scale(1.03);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
    }
}