.newstyle
  .welcome
    %h3 Experience Fine Dining
    %h2
      campton
      place
    .logo
      = image_tag "campton-welcome-logo.jpg"
      %br/
      = image_tag "restaurants.jpg"
      = image_tag "pic2.jpg"
      %p.doc
      = link_to "Home",'index.html'
  / .welcome

