
.newstyle
  .welcome
    .logo
      = image_tag "room.jpg"
      = image_tag "room2.jpg"
    %h1 Rooms
    %h3
      Ensconce yourself in luxury within this landmark boutique hotel in the heart of the city.
      %p.doc
      = link_to "Home",'index.html' 
  / .welcome
