.newstyle
  .welcome
    .logo
      = image_tag "loc.jpeg"
      %h3
      location
      %h1
      Prime
      Destination
      %h2
      Taj Campton Place
      %h3
      Address
      
      Taj Campton Place
      340 Stockton Street, San Francisco,
      CA 94108, USA
      Contact
      
      Tel +1 415 781 5555
      Fax +1 415 955 5536
      
      reservations.campton@tajhotels.com
      %p.doc
      = link_to "Home",'index.html'
  / .welcome